.newsBox {
    width: 400px;
    margin: 15px;
    padding: 25px;
    background-color: white;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.newsBox:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.newsBox h2 {
    font-size: 1.5rem; /* Adjusted font size for the title */
    margin-bottom: 15px;
}

.newsBox p {
    font-size: 1rem; /* Adjusted font size for the content */
    margin-bottom: 10px;
    color: #555;
}

.publishedDate {
    font-size: 0.8rem; /* Adjusted font size for the published date */
    color: #888;
}

.newsBox img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    z-index: 2;
    border-radius: 8px;
    margin-bottom: 15px;
}

.favBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}

.favBtn i {
    font-weight: bold;
    color: red;
}

.newsContent {
    cursor: pointer;
}

  

